.carousel {
  position: relative;
  overflow: hidden;
}

.carousel div {
  display: flex;
  transition: scroll-behavior 0.5s ease;
  overflow: scroll;
  flex-wrap: nowrap; /* Add smooth scroll transition */
}

.carousel img {
  object-fit: cover; /* Maintain aspect ratio */
}
