
.carousel {
  overflow: hidden; /* Prevents overflow */
}

.images {
  display: flex; 
}
.button-container{
  z-index: 4;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-top: -20px;
  align-self: center;
}